<<title >temparature converter</title
content="width"=device-width,initial-scale=1.0">
body{
    font-family:Arial,Helvetica,sans-serif;
    display:flex;
    align-items: center;
    justify-content:100vh;
    margin :0;
    background:linear -gradient
    margin:0;
    background:linear
}